@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fitness Web</h1>
    <p class="lead">Explore popular classes included in your membership</p>
    <div class="box">
        <div>
            <img src="~/image/yoga.jpg" alter="YoGa" title="YoGa" />
            <div id="boxa">YoGa</div>
        </div>
        <div>
            <img src="~/image/boxing.jpg" alter="Boxing" title="Boxing" />
            <div id="boxb">Boxing</div>
        </div>
        <div>
            <img src="~/image/circle.jpg" alter="Circle" title="Circle" />
            <div id="boxc">Circle</div>
        </div>
        <div>
            <img src="~/image/taichi.png" alter="TaiChi" title="TaiChi" />
            <div id="boxd">TaiChi</div>
        </div>
    </div>
</div>

    <div class="row">
        <div class="col-md-4">
            <h2>Coronavirus (COVID-19)</h2>
            <p>
                There are some restrict and advice about covid-19.
            </p>
            <p><a class="btn btn-default" href="https://www.australia.gov.au/">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Update</h2>
            <p>The timetables of classes will be changed because of covid-19. Please contact your coach before you come to our club.</p>
        </div>
        <div class="col-md-4">
            <h2>Reference</h2>
            <p>The design idea and some information of this website refers to a fitness web.</p>
            <p><a class="btn btn-default" href="https://www.fitnessfirst.com.au/">Learn more &raquo;</a></p>
        </div>
    </div>
